extends layout 
block content
        <div class="container">
            <div class="row">
                <div class="col-2 p-0">
                    <div>
                        <img src="/images/eligibility.png" alt="" class="img-fluid vh-100" />
                    </div>
                </div>
                <div class="col-8 px-4  bg-transparent">
                    <h1>個人資訊</h1>
                    <label>名稱</label>
                    <input type="text" name="" class="" placeholder="請輸入您的暱稱" />
                    <label>帳號</label>
                    <input type="email" name="" placeholder="請輸入信箱" />
                    <label>密碼</label>
                    <input type="password" name="" />
                    <label>確認密碼</label>
                    <input type="password" name="conformPW" />
                    <label>大頭貼<input type="file" name="myImage" value="" class="btn-light" /></label>        
                    <input class="btn btn-secondary btn-block" type="submit" value="註冊">
                    <a href="/api/main" class="button btn-block ">取消</a>
                </div>
                <div class="col-2 p-0">
                    <div>
                        <img src="/images/eligibility.png" alt="" class="img-fluid vh-100" />
                    </div>
                </div>
            </div>
        </div>