extends layout 
block content
    <div class="container">
        <div class="row bg-dark mb-2">
            <h1 class="text-white" style="text-align: center">JO!自習(自習室名稱)</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <ul>
                    <img src="/images/student_1215.jpg" alt="" class="img-fluid" />

                    <li><P>姓名</P></li>
                    <li><p>已自習時間</p></li>
                    <li><p>下一次休息時間倒數</p></li>
                    <a href="/api/main" class="button big">離開</a></li>
                    <a href="/api/mesBoard" class="button big">留言板</a></li>
                </ul> 

            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <img src="/images/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid" />
                        <ul>
                            <li><P>姓名</P></li>
                            <li><p>已自習時間</p></li>
                            <li><p>下一次休息時間倒數</p></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <img src="/images/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid" />
                        <ul>
                            <li><P>姓名</P></li>
                            <li><p>已自習時間</p></li>
                            <li><p>下一次休息時間倒數</p></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <img src="/images/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid" />
                        <ul>
                            <li><P>姓名</P></li>
                            <li><p>已自習時間</p></li>
                            <li><p>下一次休息時間倒數</p></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <img src="/images/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid" />
                        <ul>
                            <li><P>姓名</P></li>
                            <li><p>已自習時間</p></li>
                            <li><p>下一次休息時間倒數</p></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <img src="/images/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid" />
                        <ul>
                            <li><P>姓名</P></li>
                            <li><p>已自習時間</p></li>
                            <li><p>下一次休息時間倒數</p></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <img src="/images/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid" />
                        <ul>
                            <li><P>姓名</P></li>
                            <li><p>已自習時間</p></li>
                            <li><p>下一次休息時間倒數</p></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <img src="/images/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid" />
                        <ul>
                            <li><P>姓名</P></li>
                            <li><p>已自習時間</p></li>
                            <li><p>下一次休息時間倒數</p></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <img src="/images/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid" />
                        <ul>
                            <li><P>姓名</P></li>
                            <li><p>已自習時間</p></li>
                            <li><p>下一次休息時間倒數</p></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <img src="/images/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid" />
                        <ul>
                            <li><P>姓名</P></li>
                            <li><p>已自習時間</p></li>
                            <li><p>下一次休息時間倒數</p></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <img src="/images/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid" />
                        <ul>
                            <li><P>姓名</P></li>
                            <li><p>已自習時間</p></li>
                            <li><p>下一次休息時間倒數</p></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <img src="/images/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid" />
                        <ul>
                            <li><P>姓名</P></li>
                            <li><p>已自習時間</p></li>
                            <li><p>下一次休息時間倒數</p></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <img src="/images/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid" />
                        <ul>
                            <li><P>姓名</P></li>
                            <li><p>已自習時間</p></li>
                            <li><p>下一次休息時間倒數</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>